/*
* @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* apply a natural box layout model to all elements, but allowing components to change
*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 15px;
}

article {
  font-size: large;
}

h1 {
  font-size: x-large;
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 0;
  padding: 15px;
}

figcaption {
  font-size: 0.8em;
}
@media (min-width: 900px) {
  body {
    background-color: rgb(153, 255, 255);
    margin: 25px;
  }
  article {
    font-size: x-large;
  }
  figure {
    max-width: 350px;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1080px) {
  body {
    background-color: rgb(132, 255, 214);
    margin: 35px;
  }
  h1 {
    font-size: xx-large;
  }
}
