.App {
  text-align: center;
}

#div-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(253, 253, 178);
}


.pokemons {
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  border: 2px solid rgb(255, 217, 0);
  background-color: yellow;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.div-pokemons {
/* display: flex; */
display: grid;
grid-auto-flow: row;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
justify-items: center
}

.h1 {
  display: flex;
  justify-content: center;
}
